<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/HeaderStyle.css" rel="stylesheet" />
    <div class="HeaderDiv">
        <nav class="NavBar">
            <ul>
                <li>HOME</li>
                <li>CHAMPIONS</li>
                <li>STATISTICS</li>
                <li>RANKING</li>
                <li>ACCOUNT</li>
            </ul>
        </nav>
        @RenderBody()
    </div>
</head>
<body>
  
</body>
</html>
